[SddmGreeterTheme]
Name=niri-caelestia-sddm
Description=SDDM theme matching niri-caelestia-shell lockscreen (Material You / Quickshell)
Author=niri-caelestia-sddm contributors
Website=https://github.com/AyushKr2003/niri-caelestia-shell
Version=1.0
License=GPL-3.0
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
Screenshot=Previews/preview.png
QtVersion=6
